/*Common*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*debug*/

.debug main section .box {
  height: 300px;
}

/*Header*/

header {
  background-color: #255ee9 ;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #255ee9;
  padding: 10px 20px;
}

.logo {
  display: flex;
  flex-shrink: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: #ffffff;
}

.login {
  display: flex;
  flex-shrink: 0;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

/*container*/

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.container-2 {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.container-3 {
  display: flex;
  height: 500px;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

.container-4 {
  display: flex;
  height: 100px;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.button-container {
  background-color: #7fffd4;
  width: 800px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*section*/

main > section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.box-1 {
  flex-basis: 700px;
  height: 300px;
}

h1 {
  margin: 30px;
}

.row-one {
  margin: 30px;
  text-align: center; 
}

.button-mac {
  padding: 10px 15px;
  background-color: #ffffff ;
  border-radius: 10px;
  color: #000000 ;
}

.button-browser {
  padding: 10px 15px;
  background-color: #23272a;
  border-radius: 10px;
  color: #ffffff ;

}


.big-box-one {
  display: flex;
  flex-shrink: 1;
}

h2 {
  margin: 60px;
}

.row-two {
  margin: 30px;
}



.big-box {
  background-color: #1e90ff;
  height: 300px;
  flex-grow: 2;
}

.small-box {
  background-color: #ffc0cb;
  height: 300px;
  flex-grow: 1;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.box-2 {
  background-color: #228b22;
  height: 700px;
  flex-grow: 1;
}

/*footer*/

footer {
  display: flex;
  flex-direction: column;
}

.left-footer {
  background-color: #f08080;
  flex-grow: 1;
}

.right-footer {
  display: flex;
  background-color: #20b2aa;
  flex-grow: 2;
  flex-direction: row;
}

.micro-layout {
  border: 2px dashed #ffffff;
  flex-grow: 1;
}

.logo-2,
.bottone {
  background-color: #ffb6c1;
  padding: 4px;
}


/* background color in pagina */

.jumbo-image {
  background-image: url("../img/jumbo.png") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #d3d3d3;
}

.bg-black {
  background-color: #23272a;
}
